<div class="page-content">
  <h3 class="page-title">Profile</h3>
    <div class="form-control">
        <label class="control-label col-md-2">Full Name:</label>
        <div class="col-md-4">
            {{ login.user.name }}
        </div>
    </div>

    <div class="form-control">
        <label class="control-label col-md-2">Username:</label>
        <div class="col-md-4">
            {{ login.user.username }}
        </div>
    </div>
    <div class="form-control">
        <label class="control-label col-md-2">Email:</label>
        <div class="col-md-4">
            {{ login.user.email }}
        </div>
    </div>
    <div ng-controller="passwordController as pass">
        <div class="form-control" >
            <a ng-click="pass.toggleClick()">Change Password</a>
        </div>
        <form class="form-body" ng-if="pass.clicked" ng-submit="pass.changePassword()">
          <div>
            <div class="col-md-4">
              <input type="password" ng-model="pass.changePass.old" placeholder="Old Password"/>
              <input type="password" ng-model="pass.changePass.new" placeholder="New Password"/>
              <input type="password" ng-model="pass.changePass.confirm" placeholder="Confirm Password"/>
            </div>
          </div>
          <input type="submit" value="Change Password"/>
        </form>

    </div>
    <br>
    <div ng-controller="profilePic as pro">
      <form class="form-body form-horizontal" ng-submit="pro.uploadProfilePic()">
        <div class="form-group">
          <label class="control-label col-md-2">Select File:</label>
          <div class="col-md-4">
            <input type="file" file-model="myFile" accept=".jpg,.jpeg,.png"/>
          </div>
        </div>
        <div class="form-group" >
          <label class="control-label col-md-2">&nbsp;</label>
          <div class="col-md-4">
            <input type="submit" class="btn green" value="Save"/>
          </div>

        </div>
      </form>
    </div>

</div>
