<div class="page-content" ng-controller="checkoutController as checkout">
  <h3 class="page-title">Check out</h3>
    <div class="portlet-body">
		<form class="form-body form-horizontal" ng-submit="checkout.checkoutDevice()">
        <div class="form-group">
			<label class="control-label col-md-2">Select device</label>
				<div class="col-md-4">
					<ui-select required ng-change="checkout.device_id_change()" ng-model="checkout.selectedDevice" theme="select2" style="min-width: 300px;">
            <ui-select-match placeholder="Select device to go">
                {{ checkout.selectedDevice.as_id }} - {{ checkout.selectedDevice.typeName }}
            </ui-select-match>
            <ui-select-choices repeat="x in checkout.devices|propsFilter: {as_id: $select.search, typeName: $select.search}">
                <div>
                    {{ x.as_id }}
                    <br/>
                    <small>{{ x.typeName }}</small>
                </div>
            </ui-select-choices>
        </ui-select>
				</div>
        </div>
        <div class="form-group">
			<label class="control-label col-md-2">Select person</label>
        	<div class="col-md-4">
				<ui-select required ng-model="checkout.selectedItem" theme="select2" style="min-width: 300px;">
            <ui-select-match placeholder="Select a person in the list or search his name/age...">
                {{ checkout.selectedItem.username }}
            </ui-select-match>
            <ui-select-choices repeat="x in checkout.users|filter:{name:$select.search}">
                <div>
                    {{ x.username }}
                    <br/>
                    <small>{{ x.name }}</small>
                </div>
            </ui-select-choices>
        </ui-select>
        	</div>
        </div>
        <div class="form-group">
			<label class="control-label col-md-2">Duration</label>
         <div class="col-md-4">
				<input type="number" class="form-control" required ng-model="checkout.duration" ng-change="checkout.dateChange()" min="1" max="10" />
         </div>
		  </div>
        <div class="form-group">
			<label class="control-label col-md-2">Date range</label>
         	<div class="col-md-4">
					<table class="col-md-4">
         		<tr>
						<td><input type="date" class="form-control" required ng-model="checkout.currentDate"  readonly="readonly"/></td>
						<td><input type="date" class="form-control" required ng-model="checkout.finalDate"/></td>
         		</tr>
         	</table>
         	</div>
			</div>
        <div class="form-group">
        	<label class="control-label col-md-2">Describe</label>
			<div class="col-md-4">
				<textarea class="form-control" ng-model="checkout.remarks">
    	  </textarea>
			</div>
        </div>
        <div class="form-group">
				<div class="col-md-2 col-md-offset-2">
					<input class="btn green" type="submit" value="Checkout"/>
				</div>
        </div>
    	</form>
    </div>
</div>
