<div class="page-content">
  <h3 class="page-title">Device details</h3>
    <div  ng-controller="deviceDetailCtrl as dev">
        <table class="table table-striped">
            <caption>Device Detail</caption>
            <tr>
                <td>Device ID:</td>
                <td>{{ dev.deviceDetail.as_id }}</td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>{{ dev.deviceDetail.type.typeName }}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ dev.deviceDetail.location.place_name }},{{ dev.deviceDetail.location.country }}</td>
            </tr>
            <tr>
                <td>Borrowed:</td>
                <td ng-if="dev.deviceDetail.borrowStatus">Yes</td>
                <td ng-if="!dev.deviceDetail.borrowStatus">No</td>
            </tr>
            <tr>
                <td>Lost:</td>
                <td ng-if="dev.deviceDetail.lost">Yes</td>
                <td ng-if="!dev.deviceDetail.lost">No</td>
            </tr>
            <tr>
                <td>Properties</td>
                <td>
                    <table class="table">
                        <tr ng-repeat="x in dev.deviceProperties">
                            <td>{{ x }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Registered By:</td>
                <td>{{ dev.deviceDetail.registered_by.name}}</td>
            </tr>
            <tr>
                <td>Registered On:</td>
                <td>{{ dev.deviceDetail.registered_date|date}}</td>
            </tr>
            <tr>
                <td colspan="2"><a ui-sref="borrowHistory({dev_id:dev.deviceDetail.as_id})">Borrow History</a></td>
            </tr>
        </table>
    </div>
</div>
