<div class="page-content">
  <h3 class="page-title">Edit device details</h3>
    <div class="portlet-body" ng-controller="editController as editControl">
        <form class="form-body form-horizontal" ng-submit="editControl.editDevice()">
            <div class="form-group">
                <label class="control-label col-md-2">Device ID:</label>
                <div class="col-md-4">
                    {{ editControl.device_id }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Select location</label>
                <div class="col-md-4">
                    <ui-select theme="select2" ng-model="editControl.selectedLocation" style="min-width:300px;">
                        <ui-select-match placeholder="Select Location">
                            {{ editControl.selectedLocation.place_name }},{{ editControl.selectedLocation.country }}
                        </ui-select-match>
                        <ui-select-choices repeat="x in editControl.locations|propsFilter:{place_name:$select.search,country:$select.search}">
                            <div>
                                {{ x.place_name }}
                                <br>
                                <small>{{ x.country }}</small>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Select device type</label>
                <div class="col-md-4">
                    <ui-select theme="select2" style="min-width:300px" ng-model="editControl.type" ng-change="editControl.onValueChange()">
                        <ui-select-match placeholder="Select Device Type">
                            {{ editControl.type.typeName }}
                        </ui-select-match>
                        <ui-select-choices repeat="x in editControl.deviceTypes|propsFilter:{typeName:$select.search}">
                            <div>
                                {{ x.typeName }}
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-repeat="x in editControl.custom_fields">
                <div class="form-group">
                    <label class="control-label col-md-2">{{x.name}}</label>
                    <div class="col-md-4" ng-if="x.fieldType.textBoxType=='text'"><input class="form-control" ng-model="editControl.dynamicValues[x.name]"   type="text"/></div>
                    <div class="col-md-4" ng-if="x.fieldType.textBoxType=='number'"><input class="form-control" ng-model="editControl.dynamicValues[x.name]"  type="number"/></div>
                    <div class="col-md-4" ng-if="x.fieldType.textBoxType=='boolean'">
                        <div class="switch">
                            <label>
                                No
                                <input type="checkbox" ng-model="editControl.dynamicValues[x.name]"/>
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="x.fieldType.textBoxType=='select'">
                        <select ng-model="editControl.dynamicValues[x.name]">
                            <option value="">Select {{ x.fieldType.dataTypeName }}</option>
                            <option ng-repeat="y in x.fieldType.selectValue">{{ y }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                    <input class="btn green" type="submit" value="Save"/>
                </div>
            </div>
        </form>

    </div>


</div>
