<div class="page-content">
  <h3 class="page-title">Export data</h3>
  <div  ng-controller="deviceTypeCtrl as device">
      <table align="center" class="table table-striped">
          <tr>
              <th ng-repeat="x in device.deviceExportColumn">{{ x }}</th>
          </tr>
          <tr ng-repeat="x in device.deviceTypes">
              <td>{{x.typeName}}</td>
              <td><a href="" ng-click="device.exportData(x._id)" >Export Data</a> </td>
          </tr>
      </table>
  </div>
</div>
