<div class="page-header-inner" ng-if="login.loggedIn">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a ui-sref="home">
            <img src="css/images/logo.png" alt="logo" class="logo-default" /> </a>
        <div class="menu-toggler sidebar-toggler"> </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user" id="header_task_bar" ng-if="login.user.adminLevel">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-settings"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ui-sref="newDevice"><i class="icon-screen-smartphone"></i>Add device</a>
                    </li>
                    <li>
                        <a ui-sref="deviceType"><i class="icon-drawer"></i>Device Type</a>
                    </li>
                    <li>
                        <a ui-sref="dataType"><i class="icon-wallet"></i>Attribute</a>
                    </li>
                    <li>
                        <a ui-sref="location"><i class="icon-map"></i>Location</a>
                    </li>
                    <li>
                        <a ui-sref="exportDevice"><i class="icon-cloud-upload"></i>Export Data</a>
                    </li>
                    <!--li>
                        <a ui-sref="importDevice"><i class="icon-cloud-download"></i>Import Data</a>
                    </li-->
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="css/images/{{login.user.profilePic}}" />
                    <span class="username username-hide-on-mobile"> {{ login.user.surname }} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="" ui-sref="account">
                            <i class="icon-user"></i> My Profile </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a ng-click="login.logOut()">
                            <i class="icon-key"></i> Log Out </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

</div>

<div class="page-header-inner" ng-if="!login.loggedIn">
    <div class="page-logo">
        <a ui-sref="/"><img src="css/images/logo.png" alt="logo" class="logo-default" /> </a>
    </div>
</div>
