<div class="login" ng-controller="loginCtrl as login">
    <div class="content" ng-if="!login.loggedIn">
        <form class="login-form" ng-submit="login.submitLogin()">
            <h3 class="form-title font-green">Sign In</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" ng-model="login.loginData.username" name="username" /> </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" ng-model="login.loginData.password" name="password" /> </div>
            <div class="form-actions">
                <input type="submit" class="btn green uppercase" value="Login" />
            </div>
        </form>
        <div class="create-account">
            <p>
                <a ui-sref="signup" class="uppercase">Create an account</a>
            </p>
        </div>
    </div>

</div>

<div class="page-content" ng-if="login.loggedIn">
    <div class="content">
        <h3 class="page-title"><i class="fa fa-tablet fa-2x"></i> Hello, {{ login.user.surname }}!</h3>
        <div align="center" style="margin-top:15%;">
          <div class="cube">
            <div class="flippety">
              <h3 class="font-blue-ebonyclay">Welcome to Device Inventory</h3>
            </div>
            <div class="flop">
              <h3 class="font-red-mint">Welcome to Device Inventory</h3>
            </div>
          </div>
        </div>
    </div>
</div>
