<div class="page-content">
  <h3 class="page-title">Add new attribute</h3>
    <div class="row container portlet-body" ng-controller="dataCtrl as data">
        <form ng-submit="data.submitData()" class="form-body form-horizontal">
				<div class="form-group">
            	<label class="control-label col-md-2" for="device_id">Attribute name</label>
                <div class="col-md-4">

                    <input id="device_id" ng-model="data.dataName" type="text" class="form-control" required/>

                </div>
            </div>
            <div class="form-group">
            	<label class="control-label col-md-2">Attribute Type</label>
                <div class="col-md-4">

                <select class="form-control" ng-model="data.metaType" ng-change="data.onChangeValue()" required>
                    <option value="">Select field type</option>
                    <option ng-repeat="x in data.dataTypeToTrack" value="{{ x|lowercase }}">{{ x }}</option>
                </select>
                </div>
            </div>

                <div ng-repeat="c in data.choice">
                    <div class="form-group">
                    	<div class="col-md-2 col-md-offset-2">
								<input type="text" class="form-control" ng-model="data.selectValues[c.id]" placeholder="Enter Option Value" required/>
                    	</div>

                    </div>
                </div>

             <div class="form-group">
                <div class="col-md-2 col-md-offset-2" ng-if="data.metaType=='select'">
                    <input type="button"  ng-click="data.addOption()" value="Add" class="btn btn-sm blue-hoki"/>
                    <input type="button"  ng-click="data.removeOption()" value="Remove" class="btn btn-sm red-intense"/>
                </div>
            </div>

            <div class="form-group">
				<div class="col-md-2 col-md-offset-2">
					<input type="submit" value="Save" class="btn-large btn green"/>
				</div>
        </div>
        </form>
    </div>
</div>
