<div class="page-content" ng-controller="personSearchController as personSearch">
  <h3 class="page-title">Search by person</h3>
    <div align="right">
        <button class="btn grey" ng-click="personSearch.toggleValue()">{{ personSearch.toggle ? 'Switch to Location Based':'Switch to Person Based'}}</button>

    </div>
    <div ng-if="personSearch.toggle">
        <ui-select required on-select="personSearch.getBorrowedDevice(personSearch.selectedPerson._id)" ng-model="personSearch.selectedPerson" theme="select2" style="min-width: 300px;">
            <ui-select-match placeholder="Select a person in the list...">
                {{ personSearch.selectedPerson.name }}
            </ui-select-match>
            <ui-select-choices repeat="x in personSearch.users|filter:{name:$select.search}">
                <div>
                    {{ x.username }}
                    <br/>
                    <small>{{ x.name }}</small>
                </div>
            </ui-select-choices>
        </ui-select>

    </div>
    <div ng-if="!personSearch.toggle">
        <ui-select theme="select2" on-select="personSearch.SearchByLocation(personSearch.selectedLocation._id)" ng-model="personSearch.selectedLocation" style="min-width:300px;">
            <ui-select-match placeholder="Select Location">
                {{ personSearch.selectedLocation.place_name }},{{ personSearch.selectedLocation.country }}
            </ui-select-match>
            <ui-select-choices repeat="x in personSearch.locations|propsFilter:{place_name:$select.search,country:$select.search}">
                <div>
                    {{ x.place_name }}
                    <br>
                    <small>{{ x.country }}</small>
                </div>
            </ui-select-choices>
        </ui-select>
    </div>

    <table align="right">
        <tr>
            <td>
                <select class="form-control" ng-init="personSearch.pageLimit='10'" ng-model="personSearch.pageLimit" ng-change="personSearch.onlimitchange()">
                    <option >Select Page Limit</option>
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="100">100</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="table table-striped" ng-if="personSearch.allborrowDevice.length">
        <caption>{{ personSearch.allborrowDevice.length }} {{ personSearch.allborrowDevice.length ==1? 'Device':'Devices' }} in total</caption>
        <tr>
            <th>Device ID</th>
            <th>Device Type</th>
            <th>Registered By</th>
            <th>Registered Date</th>
            <th>Device Location</th>
            <th>Borrow Status</th>
            <th>Device Status</th>
        </tr>
        <tr ng-repeat="x in personSearch.filteredDevice">
            <td><a ui-sref="deviceDetail({id:x.as_id})">{{x.as_id}}</a></td>
            <td>{{x.type.typeName}}</td>
            <td>{{x.registered_by.name}}</td>
            <td>{{x.registered_date |date}}</td>
            <td>{{x.location.place_name}},{{ x.location.country }}</td>
            <td ng-if="x.borrowStatus">Yes</td>
            <td ng-if="!x.borrowStatus">No</td>
            <td ng-if="x.lost">Yes</td>
            <td ng-if="!x.lost">No</td>
        </tr>
    </table>
    <div ng-if="personSearch.selectedLocation || personSearch.selectedPerson">
        <table ng-if="!personSearch.allborrowDevice.length">
            <tr><td>No Devices Found</td></tr>
        </table>
    </div>

    <div paging ng-if="personSearch.allborrowDevice.length"
         class="small"
         page="personSearch.currentPage"
         page-size="personSearch.pageLimit"
         total="personSearch.allborrowDevice.length"
         text-first="first"
         text-last="last"
         text-next="next"
         text-prev="prev"
         text-title-page="Page {page}"
         text-title-first="First Page"
         text-title-last="Last Page"
         text-title-next="Next Page"
         text-title-prev="Previous Page"
         show-prev-next="true"
         paging-action="personSearch.pageItem(page)"
         show-first-last="false">
    </div>
</div>
