<div class="page-quick-sidebar" ng-controller="loginCtrl as login" ng-if="login.loggedIn">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a ui-sref="personBasedSearch" class="nav-link nav-toggle">
                <i class="icon-magnifier"></i>
                <span class="title">Search</span>
            </a>
        </li>
        <!--<li class="nav-item">
            <a ui-sref="home" class="nav-link nav-toggle">
                <i class="icon-grid"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>-->
        <li class="nav-item">
            <a ui-sref="device" class="nav-link nav-toggle">
                <i class="icon-screen-smartphone"></i>
                <span class="title">Devices</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a ui-sref="checkout" class="nav-link nav-toggle">
                <i class="icon-logout"></i>
                <span class="title">Checkout</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a ui-sref="checkin" class="nav-link nav-toggle">
                <i class="icon-login"></i>
                <span class="title">Check In</span>
            </a>
        </li>
        <!--<li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-pie-chart"></i>
                <span class="title">Report</span>
            </a>
        </li>

        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Profile</span>
            </a>
        </li>-->
    </ul>
</div>