<div class="login">
    <div class="content" ng-controller="signupCtrl as signup">
        <form class="login-form" ng-submit="signup.signupSubmit()">
            <h3 class="form-title font-green">Request Sign Up</h3>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Full Name" ng-model="signup.signupData.name" name="username" required/> </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" ng-model="signup.signupData.email" name="password" required/> </div>
            <div class="form-actions">
                <input type="submit" class="btn green uppercase" value="Request Signup" />
            </div>
        </form>
        <div class="create-account">
            <p>
                <a ui-sref="login" class="uppercase">Login</a>
            </p>
        </div>
    </div>
</div>

