<div class="page-content" ng-controller="userDetailController as userDetail">
  <br />

  <table width="100%">
    <tr>
      <td width="20%">
        <img ng-if="userDetail.user.profilePic" src="css/images/{{userDetail.user.profilePic}}" width="200" height="200" />
        <img ng-if="!userDetail.user.profilePic" src="css/images/silhouette.png" width="200" height="200" />
      </td>
      <td width="80%">
        <table class="table-bordered table-striped" width="100%" align="center">
          <caption><b>User Information</b></caption>
          <tr>
            <td>Username:</td>
            <td>{{userDetail.user.username}}</td>
          </tr>
          <tr>
            <td>Full Name:</td>
            <td>{{userDetail.user.name}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{userDetail.user.email}}</td>
          </tr>
          <tr>
            <td>Admin:</td>
            <td ng-if="userDetail.user.adminLevel">Yes</td>
            <td ng-if="!userDetail.user.adminLevel">No</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div ng-if="userDetail.filteredBorrow.length">
    <div align="right">
      <select ng-model="userDetail.pageLimit" ng-change="userDetail.changePageLimit()">
        <option value="">Select Per Page Borrow</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
    </div>
    <table class="table-bordered table-striped" width="100%">
      <caption>
        <b>Borrow History</b>
      </caption>
      <tr>
        <th ng-repeat="x in userDetail.borrowColumn">
          {{x}}
        </th>
      </tr>
      <tr ng-repeat ="x in userDetail.filteredBorrow">
        <td>
          <a href="" ui-sref="borrowDetail({b_id:x._id})">{{x._id}}</a>
        </td>
        <td>
          <a href="" ui-sref="deviceDetail({id:x.device.as_id})">{{x.device.as_id}}</a>
        </td>
        <td>
          {{x.borrow_date|date}}
        </td>
        <td>
          {{x.expected_return|date}}
        </td>
      </tr>
    </table>
    <div paging
         class="small"
         page="userDetail.currentPage"
         page-size="userDetail.pageLimit"
         total="userDetail.borrowHistory.length"
         text-first="first"
         text-last="last"
         text-next="next"
         text-prev="prev"
         text-title-page="Page {page}"
         text-title-first="First Page"
         text-title-last="Last Page"
         text-title-next="Next Page"
         text-title-prev="Previous Page"
         show-prev-next="true"
         paging-action="userDetail.pageItem(page)"
         show-first-last="false">
    </div>
  </div>
  <div ng-if="!userDetail.filteredBorrow.length">
    <br />
    <table class="table-bordered table-striped" align="center" ng-if="userDetail.loading" width="100%">
      <tr>
        <td align="center">
          Crunching the latest data for you..
        </td>
      </tr>
      <tr>
        <td align="center">
          <img src="css/images/loading-spinner-blue.gif"/>
        </td>
      </tr>
    </table>
    <table class="table-bordered table-striped" ng-if="!userDetail.loading" align="center" width="100%">
      <tr>
        <td align="center">
          No Device Borrowed By User
        </td>
      </tr>
    </table>
  </div>
</div>
