<div class="page-content">
  <h3 class="page-title">Users</h3>
    <div ng-controller="userCtrl as user">
        <div align="right">
          <select ng-model="user.pageLimit" ng-change="user.changePageLimit()">
            <option value="">Select Per Page User</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
        </div>
        <div ng-if="user.filteredUsers.length">
          <table class="table table-striped">
              <tr>
                  <th ng-repeat="x in user.userCol">{{x}}</th>
              </tr>
              <tr ng-repeat="x in user.filteredUsers">
                  <td><a ui-sref="userDetail({user_id:x._id})" href="">{{x.username}}</a></td>
                  <td>{{x.name}}</td>
                  <td>{{x.email}}</td>
                  <td>{{x.designation.name}}</td>
                  <td ng-if="x.adminLevel">Yes</td>
                  <td ng-if="!x.adminLevel">No</td>
              </tr>
          </table>
          <div paging
               class="small"
               page="user.currentPage"
               page-size="user.pageLimit"
               total="user.users.length"
               text-first="first"
               text-last="last"
               text-next="next"
               text-prev="prev"
               text-title-page="Page {page}"
               text-title-first="First Page"
               text-title-last="Last Page"
               text-title-next="Next Page"
               text-title-prev="Previous Page"
               show-prev-next="true"
               paging-action="user.pageItem(page)"
               show-first-last="false">
          </div>
        </div>
        <div ng-if="!user.filteredUsers.length">
          <div ng-if="user.loading">
            <table class="table table-striped" align="center">
              <tr>
                <td align="center">
                  Crunching the latest data for you
                </td>
              </tr>
              <tr>
                <td align="center">
                  <img src="css/images/loading-spinner-blue.gif"/>
                </td>
              </tr>
            </table>
          </div>
          <div ng-if="!user.loading" align="center">
            <table class="table table-striped">
                <tr>
                  <td align="center">
                    No User Found
                  </td>
                </tr>
            </table>
          </div>
        </div>
    </div>
</div>
